Keras==2.2.4
numpy==1.16.2
pychrome==0.2.2
tensorflow==2.3.1
names==0.3.0
pygame==1.9.5
gym==0.12.1
gym[atari]
tqdm
pandas
pytest
-e git://github.com/openai/baselines.git@c57528573ea695b19cd03e98dae48f0082fb2b5e#egg=openai_baselines